<div class="container">
    <form id="form" action="/answer">
    <input class="form-control" type="text" name="message" placeholder="Ask here">
    <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
</div>
